{% extends "base.html" %}

{% block content %}
<div id="stats-list-wrapper">
    <div>
        <h2>Фильтрация</h2>
        <p>
            <label for="studentname">Имя студента: </label>
            <input type="text" id="studentname"/>
        </p>
        <p>
            <label for="studentgroup">Группа (класс) студента: </label>
            <input type="text" id="studentgroup"/>
        </p>
    </div>
    <hr/>
    <h2>Все записи:</h2>
    <ul id="stats-list" class="list-group">
        {% for stat in stats %}
        <li class="card bg-light mb-3" data-todo-id="{{ stat.record_id }}">
            <div class="card-header">
                <p>Студент: {{ stat.student_name }}</p>
                <p>Группа (класс): {{ stat.student_group }}</p>
                <p>Задание: {{ stat.problem_name }}</p>
                <p>Пример: {{ stat.example_name }}</p>
            </div>
            <div class="card-body">
                <p class="card-text">Описание примера:<br/>{{ stat.example_description }}</p>
                <hr/>
                <p class="card-text" style="white-space: pre-line">Статистика:<br/>{{ stat.statistics_body }}</p>
                <button class="btn btn-danger" onclick="deleteTodo('{{ stat.record_id }}')">Удалить</button>
            </div>
            <div class="card-footer">{{ stat.record_time }}</div>
        </li>
        {% endfor %}
    </ul>
    <!-- СКРИПТ ДЛЯ РЕДАКТИРОВАНИЯ ЗАПИСЕЙ ПО AJAX -->
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
    <!-- СКРИПТ ФИЛЬРОВ -->
    <!--<script src="{{ url_for('static', filename='js/filtering.js') }}"></script>-->
    {% endblock %}
</div>